.note {
    display: flex;
    margin-top: auto;
  }
  
  .note img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .note-info h4 {
    margin: 0;
  }
  .note-info small {
    color: #545d7a;
  }
  
  .bx-plus {
    color: black;
  }